@import url("https://fonts.googleapis.com/css2?family=El+Messiri&family=Montserrat:wght@300&display=swap");

.fundo {
    background-color: #ffffff;
}

*{
  font-family: 'Quicksand', sans-serif;
}

*{
  font-family: 'Quicksand', sans-serif;
}

