.fundo {
    background-color: #ffffff;
}

*{
    font-family: 'Montserrat', sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=El+Messiri&family=Montserrat:wght@300&display=swap");

* {
  font-family: 'Montserrat', sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

