.card-style{
    box-shadow: 2px 2px 5px #888888;
 }

 .hr3 {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #cecac1, transparent);  
}

p.card-text {
  max-width: 40ch;
  max-height: 40ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-active{
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .2s transform cubic-bezier(.155,1.105,.295,1.12),.2s box-shadow,.2s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.card-active:hover{
  transform: scale(1.01);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.gradiente-texto {
    
    background-color: rgb(255, 138, 4);
    
    
    background-image: linear-gradient(45deg, #e68a00, #ff3c00);
    
    
    background-size: 100%;
    background-repeat: repeat;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    transition: transform .2s;
}