<!--POG-->
<div class="row mt-5 mb-5"></div>
<!--/POG-->



<div class="container d-flex justify-content-center w-100">
    <div class="row d-flex justify-content-center w-100">
        <h2 class="d-flex justify-content-center w-100">Canecas {{produto.categoria.nome}}</h2>
    </div>
</div>

<div class="container p-4">
    <div class="card bg-light w-100 d-flex mb-5 card-style">
        <div class="row d-flex justify-content-start">
            <div class="col-1">

            </div>
            <div class="col-lg-6 col-md-6 col-sm-5">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100"
                                src="{{produto.imagem}}"
                                alt="Girl">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-6 p-0 d-flex w-100 justify-content-end p-lg-2 p-md-2">
                <div class="col-lg-11 col-md-12 col-sm-12 d-flex w-100 justify-content-end">
                    <div class="card bg-light d-flex w-100 p-3">
                        <h3 class="d-flex justify-content-center mt-4 mb-3">{{produto.nome}}</h3>
                        <p class="d-flex justify-content-center ml-2">Sobre o produto: {{produto.descricao}}</p>
                        <div class="row price text-success d-flex justify-content-around mt-5">
                            <h4 class="mt-3"><strong>R${{produto.preco}}</strong></h4>
                            <p class="text-primary mt-3"><strong>No estoque: {{produto.estoque}}</strong></p>
                        </div>
                        <button type="button" class="btn btn-outline-dark mt-5 mb-2"><strong>Adicionar ao carrinho</strong></button>
                        <button type="button" class="btn btn-danger mt-3 mb-4" [routerLink]='["/carrinho", produto.id]'><strong>Comprar</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid w-100 mb-5 p-0">
    <div class="row d-flex justify-content-center w-100">
        <h3 class="gradiente-texto d-flex justify-content-center">Produtos relacionados</h3>
    </div>
    <hr class="hr3">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center mb-1">
        <div class="mt-3 d-flex flex-wrap justify-content-center p-0" *ngFor='let item of listaCategorias'>
        <div class="card mt-5 mr-4 ml-4 p-2 card-active" style="width: 16rem;" *ngFor='let prod of item.produto'>
          <div class="card-img-top">
            <img class="cursor" src="{{prod.imagem}}" alt="">
            <h4 class="card-title">{{prod.nome}}</h4>
          </div>
          <div class="card-body">
            <div class="buy d-flex justify-content-between align-items-center">
              <div class="price text-success">
                <h5 class="mt-4">R${{prod.preco}}</h5>
              </div>
              <button type="button" class="btn btn-danger">Comprar</button>
            </div>
          </div>
        </div>
        </div>
        </div>
    </div>
    
</div>


<!-- Copyright -->
<div class="footer-copyright corcopy text-center py-3 cor ">
    <span class="text-dark"> Copyright © GetSet 2020.Todos direitos reservados </span>
    <a class="text-dark"></a>
</div>
<!-- Copyright -->