
<div class="container fundo">

    <!--POG-->
    <div class="row mt-5 mb-5"></div>
    <!--/POG-->

    <!--Formulário de contato-->
    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-6 p-3">
            <h3 class="text-center mb-4 text-monospace">Entre em contato conosco!</h3>


            <div class="form-group">
                <label class="text-monospace" for="email">E-mail:</label>
                <input type="text" class="form-control" id="email" aria-describedby="emailHelp"
                    placeholder="Digite aqui o seu e-mail">
            </div>

            <div class="form-group">
                <label class="text-monospace" for="titulo">Título:</label>
                <input type="text" class="form-control" id="título" aria-describedby="emailHelp"
                    placeholder="Digite aqui o seu título">
            </div>

            <div class="form-group">
                <label class="text-monospace" for="texto">Texto:</label>
                <textarea type="text" class="form-control" id="texto" rows="3"
                    placeholder="Digite aqui o seu texto"></textarea>
            </div>

            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-outline-info w-25">Publicar</button>
            </div>

        </div>
        <div class="col-md-6 p-3">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.135308231248!2d-46.683385884811656!3d-23.563583384681845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce579d45a95e2d%3A0x4adfe9e697e8f835!2sR.%20C%C3%B4nego%20Eug%C3%AAnio%20Leite%2C%20623%20-%20Pinheiros%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2005414-011!5e0!3m2!1spt-BR!2sbr!4v1606937175384!5m2!1spt-BR!2sbr"
                width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
        </div>
    </div>


</div>