/* footer social icons */

ul.social-network {
    list-style: none;
    display: inline;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0;
    padding: 5px;
}

.faFacebook, .faInstagram, .faLinkedin {
    color: #000000;
}

.faFacebook:hover {
    color: #3b5998
}

.faInstagram:hover {
    color: #C13584;
}

.faLinkedin:hover {
    color: #0072b1;
}

.corfooter {
    background-color: #ffffff;
}

.corcopy {
    background-color: #f7fbff;
}

.text{
    color: black
}

hr { 
    border: 0;
    border-top: 1px solid #dddddd;
}

.gradiente-texto {
    
    background-color: rgb(61, 61, 61);
    
    
    background-image: linear-gradient(45deg, #000000, #424242);
    
    
    background-size: 100%;
    background-repeat: repeat;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  }

  .gradiente-texto:hover {
    
    background-color: rgb(255, 104, 4);
    
    
    background-image: linear-gradient(45deg, #e66f00, #ff3c00);
    
    
    background-size: 100%;
    background-repeat: repeat;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    
  }