/* footer social icons */

ul.social-network {
    list-style: none;
    display: inline;

    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0;
    padding: 5px;
}

.faFacebook, .faInstagram, .faLinkedin {
    color: white;
}

.faFacebook:hover {
    color: #3b5998
}

.faInstagram:hover {
    color: #C13584;
}

.faLinkedin:hover {
    color: #0072b1;
}

.corfooter {
    background-color: #0a0a0a;
}

.corcopy {
    background-color: #f7fbff;
}