<!--Importando a fonte-->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Quicksand:wght@300&display=swap" rel="stylesheet">
<!--/Importando a fonte-->

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top p-0">
  <a class="navbar-brand img-fluid" href="#"> <img src="../../assets/logoGetSet" class="mr-2 ml-4 mt-0 mt-0 p-0 logo" height="50" alt=""></a>

 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ml-2 mt-2">
      <li class="nav-item">
        <a class="nav-link text-uppercase font-weight-bold p-3 gradiente-texto" routerLink='/home'>Home <span
            class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-uppercase font-weight-bold p-3 gradiente-texto" routerLink='/produtos'>Loja</a>
      </li>

      <li class="nav-item" *ngIf="auth.userAdmin()">
        <a class="nav-link text-uppercase font-weight-bold p-3 gradiente-texto" routerLink='/categorias'>Admin</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-uppercase font-weight-bold p-3 gradiente-texto" routerLink='/about'>Sobre nós</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-uppercase font-weight-bold p-3 gradiente-texto" routerLink='/contato'>Contato</a>
      </li>

    </ul>

    <ul class="navbar-nav d-flex mt-2 mr-4 ml-3">
      

      <div *ngIf='auth.btnSair()' class="p-2"> 
        <li class="nav-item">
          <a class="nav-link text-uppercase font-weight-bold gradiente-texto" routerLink='/perfil-cliente'>Olá,{{apelido}}</a>
        </li>
      </div>

      <li class="nav-item d-flex" class="p-2">
        <a class=" nav-link gradiente-texto text-uppercase font-weight-bold" routerLink='/carrinho'>Carrinho</a>
      </li>

        <div *ngIf='auth.btnLogin()' class="p-2">
          <li class="nav-item d-flex">
            <a class=" nav-link gradiente-texto text-uppercase font-weight-bold" routerLink='/login'>Login</a>
          </li>
        </div>

        <div *ngIf='auth.btnLogin()' class="p-2">
          <li class="nav-item">
            <a class=" nav-link gradiente-texto text-uppercase font-weight-bold" routerLink='/login' routerLink='/cadastro'>Cadastro</a>
          </li>
        </div>

        <div *ngIf='auth.btnSair()'>
          <li class="nav-item">
            <a class="nav-link text-uppercase font-weight-bold p-3 gradiente-texto" (click)='sair()'>Sair</a>
          </li>
        </div>
    </ul>

  </div>
</nav>