a{
    cursor: pointer;
}
    

*{
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

p{
    letter-spacing: 1px;
    font-size: 16px;
}

.nav-link {
    color: #000000;
    
}

.nav-link:hover {
    color: #999A9c;
    
}

.gradiente-texto {
    
    background-color: rgb(61, 61, 61);
    
    
    background-image: linear-gradient(45deg, #000000, #424242);
    
    
    background-size: 100%;
    background-repeat: repeat;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  }

  .gradiente-texto:hover {
    
    background-color: rgb(255, 104, 4);
    
    
    background-image: linear-gradient(45deg, #e66f00, #ff3c00);
    
    
    background-size: 100%;
    background-repeat: repeat;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    
  }



