.cornav {
    background-color: #ffffff;
}

a{
    cursor: pointer;
}

*{
    font-family: 'El Messiri', sans-serif;
}

.nav-link {
    color: #000000;
    
}

.nav-link:hover {
    color: #999A9c;
    
}

.logo :hover {
    color: #999A9c;
}