<div class="container mt-5">
    <div class="row mt-5 mb-5">
      
        <div class="col-md-12">
            <div class="card mt-5">

                <div class="card-body">
                    <p class="card-text" aria-describedby="texto">{{produto.nome}} </p>
                </div>
            </div>

            <hr class="mt-4 mb-4">

            <h5 class="text-center">Tem certeza que deseja realizar a compra?</h5>
            <div class="d-flex justify-content-center mt-5">
                <button class="btn btn-outline-dark mr-3" (click)="btnSim()">Sim</button>
                <button class="btn btn-outline-danger" (click)="btnNao()">Não</button>
            </div>
        </div>

    </div>
</div>

