<div class="container mt-5">
    <div class="row mt-5 mb-5">
      
        <div class="col-md-12">
            <div class="d-flex justify-content-center mt-5">

                <h1>No momento não estamos realizando transações</h1>
            </div>

            <hr class="mt-4 mb-4">

            <h5 class="text-center">Continue dando uma olhada em nossos produtos</h5>
            <div class="d-flex justify-content-center mt-5">
                <button class="btn btn-outline-dark mr-3" routerLink='/produtos'>Produtos</button>
                <button class="btn btn-outline-danger" routerLink='/home'>Home</button>
            </div>
        </div>

    </div>
</div>

