.button {
    display:inline-block;
    margin-top:30px;
    background:#25c7db;
    border-radius:7px;
    font-size:20px;
    font-weight:600;
    color:#fff;
    padding:16px 40px 17px 40px;
    text-decoration:none;
    -webkit-transition:.3s;
    transition:.3s
   }
   .button:hover {
    color:#fff;
    -webkit-box-shadow:0 6px 20px #BCBCBC;
    box-shadow:0 6px 20px #BCBCBC;
    -webkit-transform:translateY(-3px) scale(1.01);
    transform:translateY(-3px) scale(1.01)
   }
   @media (max-width: 700px) {
    .button {
     font-size:16px
    }
   }
   
   #contato {
    background:linear-gradient(45deg, #f3f3f3 0%, #fff 100%);
    display:-ms-grid;
    display:grid;
    -ms-grid-columns:1fr 1.5fr;
    grid-gap:50px;
    padding:60px;
    margin-top:40px;
    border-radius:7px
   }
   
   @media (max-width: 700px) {
    #contato {
     padding:30px
    }
   }
   #contato form {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-align:start;
    -ms-flex-align:start;
    align-items:flex-start
   }
   #contato form input[type="text"],
   #contato form input[type="email"],
   #contato form input[type="tel"],
   #contato form label {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    width:100%;
    margin:10px;
    padding:12px 20px;
    border:0;
    border-radius:5px;
    outline:none;
    -webkit-box-shadow:0 2px 10px #eaeaea;
    box-shadow:0 2px 10px #eaeaea;
    font-family:"Montserrat","Helvetica Neue",Helvetica,sans-serif;
    font-size:16px;
    line-height:1.8;
    font-weight:400;
    color:#404040
   }
   #contato form label {
    background:#fff;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    cursor:pointer
   }
   #contato form #attach {
    width:0.1px;
    height:0.1px;
    opacity:0;
    overflow:hidden;
    position:absolute;
    z-index:-1
   }
   #contato form button {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    border:0;
    outline:none;
    -ms-flex-item-align:end;
    align-self:flex-end;
    margin-top:20px;
    cursor:pointer
   }
   .social {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
   }
   .social a {
    margin-right:40px
   }