<div class="container mt-5 bg-white">
  <div class="row mt-4 mb-1">
    <div class="col-md-8">
      <h1 class="text-center text-monospace display-2 text-uppercase font-weight-bold m-2 getset">Sobre a GetSet</h1>
      <p class="text-justify letra getset-1">
        Somos um e-commerce e nosso principal objetivo é organizações
        sociais incentivadoras de jovens do Brasil. Estimulamos Ong`s e empresas que desenvolvem jovens e adultos para o
        mercado de trabalho através de seus métodos e cases de sucesso.
        Nós geramos caminhos para que os jovens estejam preparados para os desafios e carreiras da economia
        globalizada.
        Nossos programas estão alinhados com os Objetivos do Desenvolvimento Sustentável da ONU (ODS):
        ODS 4 - Educação de qualidade: Assegurar a educação inclusiva e equitativa e de qualidade, e promover
        oportunidades de aprendizagem ao longo da vida para todas e todos.
      </p>
    </div>
    <div class="col-md-4 img-titulo">
      <div class="img-rs display">
        <img src="../../assets/imagens/quem-somos/animation2.gif" alt="">
      </div>
    </div>
  </div>
  <div class="row texto-m">
    <div class="col-md-12 texto-m">
      <h3 class="text-center display-2 text-uppercase font-weight-bold m-2 gradiente-texto getset">Principais itens em desenvolvimento:</h3>
      <div class="text-justify letra getset"> 
        <b>4.3</b> Até 2030, assegurar a igualdade de acesso para todos os homens e mulheres à educação técnica,
        profissional e superior de qualidade, a preços acessíveis, incluindo universidade
        <br>
        <b>4.4</b> Até 2030, aumentar substancialmente o número de jovens e adultos que tenham habilidades relevantes,
        inclusive competências técnicas e profissionais, para emprego, trabalho decente e empreendedorismo
        <br>
        <b>4.5</b> Até 2030, eliminar as disparidades de gênero na educação e garantir a igualdade de acesso a todos
        os
        níveis de educação e formação profissional para os mais vulneráveis, incluindo as pessoas com deficiência,
        povos
        indígenas e as crianças em situação de vulnerabilidade.
        <a target="_blank" href="https://brasil.un.org/pt-br/sdgs/4">Veja todos os objetivos da ONU, aqui.</a>
      </div>
    </div>

  </div>
  <!--/História-->
  <!--Missão,visão, valores-->

  <div class="row bg-info d-flex">
    <div class="col-sm-6 col-md-6 ajuste missao1">
      <div class="img-rs">
        <img src="../../assets/imagens/quem-somos/animation1.gif">
      </div>
    </div>
    <div class="col-sm-6 col-md-6 m-auto missao2">
      <h2 class="text-center text-monospace display-3 text-uppercase font-weight-bold objetivo">MISSÃO</h2>
      <div>
        <p class="text-wrap text-center m-4 font-weight-bold">
          É Ser uma empresa competitiva, inovadora e ousada, reconhecida pela qualidade de nossos produtos do nosso
          segmento
          e revertendo parte do lucros para Objetivo do Desenvolvimento Sustentável da ONU 4 - Educação de qualidade
        </p>
      </div>
    </div>
  </div>


  <div class="row bg-info">
    <div class="col-sm-6 col-md-6 m-auto visao2">
      <h2 class="text-center text-monospace display-3 text-uppercase font-weight-bold objetivo">VISÃO</h2>
      <div>
        <p class="text-wrap text-center m-4 font-weight-bold">
          A GetSet é uma instituição que veio para se solidarizar com as causas relacionadas a
          educação de qualidade, com um foco inicial na tecnologia, mas com um grande desejo de
          englobar tudo o que se relaciona a educação, queremos investir em pessoas e formar
          essas mesmas para atender a qualquer expectativa e construirem carreiras extremamente
          sólidas.
        </p>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 ajuste visao1">
      <div class="img-rs">
        <img src="../../assets/imagens/quem-somos/animation4.gif" alt="">
      </div>
    </div>
  </div>


  <div class="row bg-info">
    <div class="col-sm-6 col-md-6 ajuste valores1">
      <div class="img-rs">
        <img src="../../assets/imagens/quem-somos/animation3.gif" alt="">
      </div>
    </div>
    <div class="col-sm-6 col-md-6 m-auto valores2">
      <h2 class="text-center text-monospace display-3 text-uppercase font-weight-bold objetivo">VALORES</h2>
        <p class="text-wrap text-center m-4 font-weight-bold">
          Acreditamos no direito da igualdade, que todos devem receber de condições apropriadas
          de se estabelerecerem e assenderem na educação e no mercado de trabalho, acreditamos
          que com o investimento e o acreditar nos sonhos um dos outros conseguimos mudar o mundo
          a nossa volta.
        </p>
    </div>
  </div>
  <!--/Missão,visão, valores-->

  <hr class="hr3 mt-2">

  <!--Cards-->
  <section id="team">
  
    <div class="container cardgs mt-3 mb-5 text-center p-0">
      <div class="row mb-6">
        <div class="col-md-12">
          <h2 class="text-center display-3 text-uppercase font-weight-bold">NOSSO TIME</h2>
          <p class="mt-3 letra gradiente-texto">
            Get for you, Set for all.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <div class="card-body d-flex flex-column text-center">
                <img src="https://i.imgur.com/Nyn6dZW.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
                <h3>Anderson Lima</h3>
                <h5>Full stack developer jr.</h5>
                <p class="m-2"><small> Tenho 22 anos, residente da zona leste de São Paulo, completamente conectado com a tecnologia desde cedo e apaixonado por música.  Um estudante de TI em constante evolução.</small></p>  
              <div class="d-flex flex-row justify-content-center">
                <ul class="social-network d-flex justify-content-center">
                  <li><a href="https://github.com/andersonlima07" target="_blank" class="icoGithub" title="GitHub">
                      <fa-icon [icon]="faGithub" class="faGithub fa-2x p-3"></fa-icon>
                    </a></li>
                  <li><a href="#" target="_blank" class="icoInstagram" title="Instagram">
                      <fa-icon [icon]="faInstagram" class="faInstagram fa-2x p-3"></fa-icon>
                    </a></li>
                  <li><a href="https://www.linkedin.com/in/andersonlima07/" target="_blank" class="icoLinkedin"
                      title="Linkedin">
                      <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-3"></fa-icon>
                    </a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-6">
          <div class="card">
            <div class="card-body d-flex flex-column">
              <img src="https://i.imgur.com/VgwWarF.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
              <h3>Rubens Almeida</h3>
              <h5>Full stack developer jr.</h5>
              <p class="m-2"><small>Amo musicas, e estou sempre a procura de aprender coisas novas ensinar o que
                  aprendi. Meu foco é a área de tecnologia e desejo construir uma carreira. Desenvolver soluções e
                  ajudar as pessoas, isso é o que mais me motiva, tenho autonomia e gosto de resolver problemas.</small>
              </p>
              <div class="d-flex flex-row justify-content-center">
                <ul class="social-network d-flex justify-content-center">
                  <li><a href="https://github.com/Rubenscode" target="_blank" class="icoGithub" title="GitHub">
                      <fa-icon [icon]="faGithub" class="faGithub fa-2x p-3"></fa-icon>
                    </a></li>
                  <li><a href="https://www.instagram.com/rubens_webdev/" target="_blank" class="icoInstagram"
                      title="Instagram">
                      <fa-icon [icon]="faInstagram" class="faInstagram fa-2x p-3"></fa-icon>
                    </a></li>
                  <li><a href="https://www.linkedin.com/in/rubens-almeida-andrade/" target="_blank" class="icoLinkedin"
                      title="Linkedin">
                      <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-3"></fa-icon>
                    </a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="card">
            <div class="card-body d-flex flex-column">
              <img src="https://i.imgur.com/x1fXDNm.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
              <h3>Mateus Ribeiro</h3>
              <h5>Full stack developer jr.</h5>
              <p class="m-2"><small>Amo ciência e tecnologia de modo geral e não há nada nesse universo que não me
                  desperte curiosidade. Sou uma pessoa proativa, determinada e autodidata e, acima de tudo, sensível à
                  tudo e a todos. Tenho muito orgulho de me dedicar ao máximo em tudo o que faço, recebendo a confiança
                  de meus amigos e professores.</small></p>
              <div class="d-flex flex-row justify-content-center">
                <ul class="social-network d-flex justify-content-center">
                  <li><a href="https://github.com/MateusBCC020" target="_blank" class="icoGithub" title="GitHub">
                      <fa-icon [icon]="faGithub" class="faGithub fa-2x p-3"></fa-icon>
                    </a></li>
                  <li><a href="#" target="_blank" class="icoInstagram" title="Instagram">
                      <fa-icon [icon]="faInstagram" class="faInstagram fa-2x p-3"></fa-icon>
                    </a></li>
                  <li><a href="https://www.linkedin.com/in/mateus-ribeiro-b104a9120/" target="_blank"
                      class="icoLinkedin" title="Linkedin">
                      <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-3"></fa-icon>
                    </a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="card">
            <div class="card-body  d-flex flex-column">
              <img src="https://i.imgur.com/Ax41Seu.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
              <h3>Guilherme Máximo</h3>
              <h5>Full stack developer jr.</h5>
              <p class="m-2"><small>Sou uma pessoa bem calma, extrovertida e comunicativa, gosto muito de praticar
                  esportes, jogar video game, ler, e conversar com amigos e conhecer pessoas novas. Estou sempre
                  aprendendo coisas novas e lapidando aquilo que já sei, além de sempre tentar passar esse conhecimento
                  adiante.</small></p>
              <div class="d-flex flex-row justify-content-center">
                <ul class="social-network d-flex justify-content-center">
                  <li><a href="https://github.com/MaximoGui" target="_blank" class="icoGithub" title="GitHub">
                      <fa-icon [icon]="faGithub" class="faGithub fa-2x p-3"></fa-icon>
                    </a></li>
                  <li><a href="#" target="_blank" class="icoInstagram" title="Instagram">
                      <fa-icon [icon]="faInstagram" class="faInstagram fa-2x p-3"></fa-icon>
                    </a></li>
                  <li><a href="https://www.linkedin.com/in/guilherme-m%C3%A1ximo-7880a41a3/" target="_blank"
                      class="icoLinkedin" title="Linkedin">
                      <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-3"></fa-icon>
                    </a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="card">
            <div class="card-body  d-flex flex-column">
              <img src="https://i.imgur.com/rR63hOi.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
              <h3>Marcus Vinicius</h3>
              <h5>Full stack developer jr.</h5>
              <p class="m-2"><small>Sou um jovem que gosta de planejar objetivos e buscar realizá-los, não costumo ficar
                  em zonas de conforto por longos períodos, e gosto de me sentir útil e desafiado. Amo conhecer pessoas
                  e fazer novas amizades.</small></p>
              <div class="d-flex flex-row justify-content-center">
                <ul class="social-network d-flex justify-content-center">
                  <li><a href="https://github.com/MarcusViniciusO" target="_blank" class="icoGithub" title="GitHub">
                      <fa-icon [icon]="faGithub" class="faGithub fa-2x p-3"></fa-icon>
                    </a></li>
                  <li><a href="https://www.instagram.com/marcus_viniciuso/" target="_blank" class="icoInstagram"
                      title="Instagram">
                      <fa-icon [icon]="faInstagram" class="faInstagram fa-2x p-3"></fa-icon>
                    </a></li>
                  <li><a href="https://www.linkedin.com/in/marcusviniciuso/" target="_blank" class="icoLinkedin"
                      title="Linkedin">
                      <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-3"></fa-icon>
                    </a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!--Cards-->
</div>

<!-- Copyright -->
<div class="footer-copyright corcopy text-center py-3 cor">
  <span class="text-dark"> Copyright © GetSet 2020.Todos direitos reservados </span>
  <a class="text-dark"></a>
</div>
<!-- Copyright -->