<!--História-->
<div class="jumbotron jumbotron-fluid corjumbo">
  <div class="container">
    <h2 class="display-4 text-center text-monospace">Nossa história</h2>
  </div>
</div>
<div class="container ">
  <div class="row w-100 mt-5">

  </div>
  <div class="row w-100 mt-4 mb-4">
    <div class="col-md-6">
      <h2 class="text-center">Sobre a GetSet</h2>
      <p class="text-justify">
        Somos um e-commerce e nosso principal objetivo é organizações
        sociais incentivadoras de jovens do Brasil. Estimulamos Ong`s e empresas que desenvolvem jovens e adultos para o
        mercado de trabalho através de seus métodos e com cases de sucesso
      </p>
      <p class="text-justify">
        Nós geramos caminhos para que os jovens estejam preparados para os desafios e carreiras da economia globalizada.
      </p>
      <p class="text-justify">
        Nossos programas estão alinhados com os Objetivos do Desenvolvimento Sustentável da ONU (ODS):
        ODS 4 - Educação de qualidade: Assegurar a educação inclusiva e equitativa e de qualidade, e promover
        oportunidades de aprendizagem ao longo da vida para todas e todos.
      </p>
    </div>
    <div class="col-md-6 d-flex">
      <iframe width="500" height="315" src="https://www.youtube.com/embed/u2K0Ff6bzZ4" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class="col-md-12">
      <p class="text-justify">
        Principais itens em desenvolvimento:
        <b>4.3</b> Até 2030, assegurar a igualdade de acesso para todos os homens e mulheres à educação técnica,
        profissional e superior de qualidade, a preços acessíveis, incluindo universidade

        <b>4.4</b> Até 2030, aumentar substancialmente o número de jovens e adultos que tenham habilidades relevantes,
        inclusive competências técnicas e profissionais, para emprego, trabalho decente e empreendedorismo

        <b>4.5</b> Até 2030, eliminar as disparidades de gênero na educação e garantir a igualdade de acesso a todos os
        níveis de educação e formação profissional para os mais vulneráveis, incluindo as pessoas com deficiência, povos
        indígenas e as crianças em situação de vulnerabilidade.
        <a target="_blank" href="https://brasil.un.org/pt-br/sdgs/4">Veja todos os objetivos da ONU, aqui.</a>
      </p>
    </div>
  </div>
  <!--/História-->
  <!--Missão,visão, valores-->
  <div class="row">
    <div class="col-md-4">
      <hr>
      <p class="text-center"><b>Missão</b></p>
      <div class="col-md-5 d-flex flex-column align-items-center">
        <img class="w-50" src="https://i.imgur.com/YmMGCna.png" alt="">
      </div>
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil cupiditate, voluptatum veritatis eius repudiandae mollitia odit assumenda quas explicabo corrupti molestiae tempora, quod, itaque culpa ullam modi doloremque numquam ratione.
        </p>
      </div>
      <hr>
    </div>
    <div class="col-md-4">
      <hr>
      <p class="text-center"><b>Visão</b></p>
      <div class="col-md-5 d-flex flex-column align-items-center">
        <img class="w-50" src="https://i.imgur.com/aNDjkM7.png" alt="">
      </div>
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil cupiditate, voluptatum veritatis eius repudiandae mollitia odit assumenda quas explicabo corrupti molestiae tempora, quod, itaque culpa ullam modi doloremque numquam ratione.
        </p>
      </div>
      <hr>
    </div>
    <div class="col-md-4">
      <hr>
      <p class="text-center"><b>Valores</b></p>
      <div  class="col-md-5 d-flex flex-column align-items-center">
        <img class="w-50 justify-content-center" src="https://i.imgur.com/x8MincV.png" alt="">
      </div>
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil cupiditate, voluptatum veritatis eius repudiandae mollitia odit assumenda quas explicabo corrupti molestiae tempora, quod, itaque culpa ullam modi doloremque numquam ratione.
        </p>
      </div>
      <hr>
    </div>
  </div>
  <!--/Missão,visão, valores-->
  <!--Junbotrom-->
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron jumbotron-fluid corjumbo">
        <div class="container">
          <h2 class="text-center txt">Desenvolvedores da GetSet</h2>
          <p class="lead text-center text-monospace">Get for you, Set for all!</p>
        </div>
      </div>
    </div>
  </div>
  <!--/Junbotrom-->

  <!--cards-->
  <div class="row mt-3">
    <div class="col-md-4">
      <div class="card border-0" style="width: 15rem;">
        <div class="d-flex justify-content-center">
          <img class="card-img-top rounded-circle w-75" src="https://i.imgur.com/XTTZHEv.jpg"
            alt="Imagem de capa do card">
        </div>
        <div class="card-body align-items-center">
          <h5 class="card-title text-center text-monospace">Marcus Vinicius</h5>
          <p class="card-text text-center text-monospace">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
          <ul class="social-network d-flex justify-content-center">
            <li><a href="https://github.com/MarcusViniciusO" target="_blank" class="icoGithub"
                title="GitHub">
                <fa-icon [icon]="faGithub" class="faGithub fa-2x p-3"></fa-icon>
              </a></li>
            <li><a href="https://www.instagram.com/marcus_viniciuso/" target="_blank" class="icoInstagram"
                title="Instagram">
                <fa-icon [icon]="faInstagram" class="faInstagram fa-2x p-3"></fa-icon>
              </a></li>
            <li><a href="https://www.linkedin.com/in/marcusviniciuso/" target="_blank" class="icoLinkedin"
                title="Linkedin">
                <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-3"></fa-icon>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-0" style="width: 15rem;">
        <div class="d-flex justify-content-center">
          <img class="card-img-top rounded-circle w-75" src="https://i.imgur.com/dmaMRjn.jpg?1"
            alt="Imagem de capa do card">
        </div>
        <div class="card-body">
          <h5 class="card-title text-center text-monospace">Megamente</h5>
          <p class="card-text text-center text-monospace">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
          <ul class="social-network d-flex justify-content-center">
            <li><a href="https://github.com/MateusBCC020" target="_blank" class="icoGithub"
              title="GitHub">
              <fa-icon [icon]="faGithub" class="faGithub fa-2x p-3"></fa-icon>
            </a></li>
            <li><a href="https://www.instagram.com/mateus_s_ribeiro/" target="_blank" class="icoInstagram"
                title="Instagram">
                <fa-icon [icon]="faInstagram" class="faInstagram fa-2x p-3"></fa-icon>
              </a></li>
            <li><a href="https://www.linkedin.com/in/mateus-ribeiro-b104a9120/" target="_blank" class="icoLinkedin"
                title="Linkedin">
                <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-3"></fa-icon>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-0" style="width: 15rem;">
        <div class="d-flex justify-content-center">
          <img class="card-img-top rounded-circle w-75" src="https://i.imgur.com/hzMv1Ea.jpg"
            alt="Imagem de capa do card">
        </div>
        <div class="card-body">
          <h5 class="card-title text-center text-monospace">Anderson Lima</h5>
          <p class="card-text text-center text-monospace">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
          <ul class="social-network d-flex justify-content-center">
            <li><a href="https://github.com/andersonlima07" target="_blank" class="icoGithub"
              title="GitHub">
              <fa-icon [icon]="faGithub" class="faGithub fa-2x p-3"></fa-icon>
            </a></li>
            <li><a href="https://www.instagram.com/generationbrasil/" target="_blank" class="icoInstagram"
                title="Instagram">
                <fa-icon [icon]="faInstagram" class="faInstagram fa-2x p-3"></fa-icon>
              </a></li>
            <li><a href="https://www.linkedin.com/in/andersonlima07/" target="_blank" class="icoLinkedin"
                title="Linkedin">
                <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-3"></fa-icon>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3 justify-content-center">
    <div class="col-md-4">
      <div class="card border-0" style="width: 15rem;">
        <div class="d-flex justify-content-center">
          <img class="card-img-top rounded-circle w-75" src="https://i.imgur.com/Mx91QEx.jpg?2"
            alt="Imagem de capa do card">
        </div>
        <div class="card-body">
          <h5 class="card-title text-center text-monospace">Xingui Lingui</h5>
          <p class="card-text text-center text-monospace">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
          <ul class="social-network d-flex justify-content-center">
            <li><a href="https://github.com/MaximoGui" target="_blank" class="icoGithub"
              title="GitHub">
              <fa-icon [icon]="faGithub" class="faGithub fa-2x p-3"></fa-icon>
            </a></li>
            <li><a href="https://www.instagram.com/guimaxjp/" target="_blank" class="icoInstagram"
                title="Instagram">
                <fa-icon [icon]="faInstagram" class="faInstagram fa-2x p-3"></fa-icon>
              </a></li>
            <li><a href="https://www.linkedin.com/in/guilherme-m%C3%A1ximo-7880a41a3/" target="_blank" class="icoLinkedin"
                title="Linkedin">
                <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-3"></fa-icon>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-0" style="width: 15rem;">
        <div class="d-flex justify-content-center">
          <img class="card-img-top rounded-circle w-75" src="https://i.imgur.com/vONqjQc.jpg?2"
            alt="Imagem de capa do card">
        </div>
        <div class="card-body">
          <h5 class="card-title text-center text-monospace">Eae Cuzão</h5>
          <p class="card-text text-center text-monospace">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
          <ul class="social-network d-flex justify-content-center">
            <li><a href="https://github.com/Rubenscode" target="_blank" class="icoGithub"
              title="GitHub">
              <fa-icon [icon]="faGithub" class="faGithub fa-2x p-3"></fa-icon>
            </a></li>
            <li><a href="https://www.instagram.com/rubens_webdev/" target="_blank" class="icoInstagram"
                title="Instagram">
                <fa-icon [icon]="faInstagram" class="faInstagram fa-2x p-3"></fa-icon>
              </a></li>
            <li><a href="https://www.linkedin.com/in/rubens-almeida-andrade/" target="_blank" class="icoLinkedin"
                title="Linkedin">
                <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-3"></fa-icon>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/cards-->