/*Cards novos*/

*{
  margin: auto;
  padding: 0;
}

cardgs{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #777;
}
h1{
  font-size: 36px;
  counter-reset: #555;
  font-weight: bold;
}
h3{
  font-size: 24px;
  color: #333;
  font-weight: bold;
}
#team img{
  margin-top: -50px;
}

#team i{
  font-size: 26px;
  color: #555;
}
#team p{
  font-weight: 500;
}

#team .card{
  margin: 100px 10px 20px 10px;
  border-radius: 0;
  box-shadow: 5px 5px 15px #F2B419;
  transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  height: 400x;
}

#team .card:hover{
  background: #F2B419;
  color: #fff;
  border-radius: 5px;
  border: none;
  box-shadow: 5px 5px 10px #9e9e9e;
}

#team .card:hover h3, #team .card:hover i{
  color: #fff;
}
.faGithub, .faInstagram, .faLinkedin {
  color: #000000;
}

.faGithub:hover {
  color: #2e2d2d;
}

.faInstagram:hover {
  color: #C13584;
}

.faLinkedin:hover {
  color: #0072b1;
}
ul.social-network {
  list-style: none;
  display: inline;

  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0;
  padding: 5px;
}

.hr3 {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #cecac1, transparent);  
}