<div class="container mt-5 p-5">
  <div class="row">
    <div class="col-md-6">
      <h1>O que nos motiva?</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias ut eveniet libero inventore maiores animi
        iste voluptates, natus in, recusandae quaerat facilis consequatur excepturi minus non ratione necessitatibus
        velit. Dolorum?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque facere delectus error porro eligendi excepturi ad
        quaerat, cumque neque quo quae aspernatur sed ipsam, temporibus labore ex? Quaerat, minima inventore.
      </p>
    </div>
    <div class="col-md-6">
      <iframe width="500" height="315" src="https://www.youtube.com/embed/u2K0Ff6bzZ4" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
  <!--Junbotrom-->
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Vamos fazer a diferença</h1>
      <p class="lead">Gente vamos se ajudar ai!!!.</p>
    </div>
  </div>
  <!--/Junbotrom-->

  <!--cards-->
  <div class="row mt-3">
    <div class="col-md-4">
      <div class="card border-0" style="width: 18rem;">
        <div class="d-flex justify-content-center">
          <img class="card-img-top rounded-circle w-75" src="https://i.imgur.com/XTTZHEv.jpg"
            alt="Imagem de capa do card">
        </div>
        <div class="card-body">
          <h5 class="card-title text-center text-monospace">Título do card</h5>
          <p class="card-text text-center text-monospace">Um exemplo de texto rápido para construir o título do card e
            fazer preencher o conteúdo do card.</p>
          <ul class="social-network d-flex justify-content-center">
            <li><a href="https://www.facebook.com/generationbrasil" target="_blank" class="icoFacebook"
                title="Facebook">
                <fa-icon [icon]="faFacebook" class="faFacebook fa-2x p-3"></fa-icon>
              </a></li>
            <li><a href="https://www.instagram.com/generationbrasil/" target="_blank" class="icoInstagram"
                title="Instagram">
                <fa-icon [icon]="faInstagram" class="faInstagram fa-2x p-3"></fa-icon>
              </a></li>
            <li><a href="https://www.linkedin.com/school/generationbrasil/" target="_blank" class="icoLinkedin"
                title="Linkedin">
                <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-3"></fa-icon>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-0" style="width: 18rem;">
        <div class="d-flex justify-content-center">
          <img class="card-img-top rounded-circle w-75" src="https://i.imgur.com/XTTZHEv.jpg"
            alt="Imagem de capa do card">
        </div>
        <div class="card-body">
          <h5 class="card-title text-center text-monospace">Título do card</h5>
          <p class="card-text text-center text-monospace">Um exemplo de texto rápido para construir o título do card e
            fazer preencher o conteúdo do card.</p>
          <ul class="social-network d-flex justify-content-center">
            <li><a href="https://www.facebook.com/generationbrasil" target="_blank" class="icoFacebook"
                title="Facebook">
                <fa-icon [icon]="faFacebook" class="faFacebook fa-2x p-3"></fa-icon>
              </a></li>
            <li><a href="https://www.instagram.com/generationbrasil/" target="_blank" class="icoInstagram"
                title="Instagram">
                <fa-icon [icon]="faInstagram" class="faInstagram fa-2x p-3"></fa-icon>
              </a></li>
            <li><a href="https://www.linkedin.com/school/generationbrasil/" target="_blank" class="icoLinkedin"
                title="Linkedin">
                <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-3"></fa-icon>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-0" style="width: 18rem;">
        <div class="d-flex justify-content-center">
          <img class="card-img-top rounded-circle w-75" src="https://i.imgur.com/XTTZHEv.jpg"
            alt="Imagem de capa do card">
        </div>
        <div class="card-body">
          <h5 class="card-title text-center text-monospace">Título do card</h5>
          <p class="card-text text-center text-monospace">Um exemplo de texto rápido para construir o título do card e
            fazer preencher o conteúdo do card.</p>
          <ul class="social-network d-flex justify-content-center">
            <li><a href="https://www.facebook.com/generationbrasil" target="_blank" class="icoFacebook"
                title="Facebook">
                <fa-icon [icon]="faFacebook" class="faFacebook fa-2x p-3"></fa-icon>
              </a></li>
            <li><a href="https://www.instagram.com/generationbrasil/" target="_blank" class="icoInstagram"
                title="Instagram">
                <fa-icon [icon]="faInstagram" class="faInstagram fa-2x p-3"></fa-icon>
              </a></li>
            <li><a href="https://www.linkedin.com/school/generationbrasil/" target="_blank" class="icoLinkedin"
                title="Linkedin">
                <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-3"></fa-icon>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3 justify-content-center">
    <div class="col-md-6">
      <div class="card border-0" style="width: 18rem;">
        <div class="d-flex justify-content-center">
          <img class="card-img-top rounded-circle w-75" src="https://i.imgur.com/XTTZHEv.jpg"
            alt="Imagem de capa do card">
        </div>
        <div class="card-body">
          <h5 class="card-title text-center text-monospace">Título do card</h5>
          <p class="card-text text-center text-monospace">Um exemplo de texto rápido para construir o título do card e
            fazer preencher o conteúdo do card.</p>
          <ul class="social-network d-flex justify-content-center">
            <li><a href="https://www.facebook.com/generationbrasil" target="_blank" class="icoFacebook"
                title="Facebook">
                <fa-icon [icon]="faFacebook" class="faFacebook fa-2x p-3"></fa-icon>
              </a></li>
            <li><a href="https://www.instagram.com/generationbrasil/" target="_blank" class="icoInstagram"
                title="Instagram">
                <fa-icon [icon]="faInstagram" class="faInstagram fa-2x p-3"></fa-icon>
              </a></li>
            <li><a href="https://www.linkedin.com/school/generationbrasil/" target="_blank" class="icoLinkedin"
                title="Linkedin">
                <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-3"></fa-icon>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card border-0" style="width: 18rem;">
        <div class="d-flex justify-content-center">
          <img class="card-img-top rounded-circle w-75" src="https://i.imgur.com/XTTZHEv.jpg"
            alt="Imagem de capa do card">
        </div>
        <div class="card-body">
          <h5 class="card-title text-center text-monospace">Título do card</h5>
          <p class="card-text text-center text-monospace">Um exemplo de texto rápido para construir o título do card e
            fazer preencher o conteúdo do card.</p>
          <ul class="social-network d-flex justify-content-center">
            <li><a href="https://www.facebook.com/generationbrasil" target="_blank" class="icoFacebook"
                title="Facebook">
                <fa-icon [icon]="faFacebook" class="faFacebook fa-2x p-3"></fa-icon>
              </a></li>
            <li><a href="https://www.instagram.com/generationbrasil/" target="_blank" class="icoInstagram"
                title="Instagram">
                <fa-icon [icon]="faInstagram" class="faInstagram fa-2x p-3"></fa-icon>
              </a></li>
            <li><a href="https://www.linkedin.com/school/generationbrasil/" target="_blank" class="icoLinkedin"
                title="Linkedin">
                <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-3"></fa-icon>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/cards-->