.jumbotron {
    text-align: center;
}

.container{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 18px;
    justify-content: center;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-left: 200px;
}

p{
    font-size: 17px;
    font-weight: 500;
    color: grey;
    padding-left: 280px;
    margin-bottom: 50px;
}



.container button{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    width: 100%;

}


.container  button{
    text-align: center;
    text-decoration: none;
    width: 755px;
    height: 40px;
    border: 2px solid #999A9c;
    background:#999A9c;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 900;
    cursor: pointer;
    border-radius: 17px;
    transition: 0.3s;

}

.container  button:hover{
    background-color: #fff;
    border-color:  #999A9c;
    color: black;
}

.gradiente-texto {
    
    background-color: rgb(255, 104, 4);
    
    
    background-image: linear-gradient(45deg, #e66f00, #ff3c00);
    
    
    background-size: 100%;
    background-repeat: repeat;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    transition: transform .2s;
}