<!--POG-->
<div class="row mt-5 mb-5"></div>
<!--/POG-->

<div class="d-flex justify-content-center mb-5 mt-5">
    <h3 class="display-4 gradiente-texto">Escolha a forma de pagamento</h3>
</div>



<div class="container mt-3">
    <div class="pay" #paypal></div>
</div>

<hr class="hr3">

<!-- Copyright -->
<div class="footer-copyright corcopy text-center py-3 cor">
    <span class="text-dark"> Copyright © GetSet 2020.Todos direitos reservados </span>
    <a class="text-dark"></a>
</div>
<!-- Copyright -->