<!--POG-->
<div class="row mt-4 mb-4"></div>
<!--/POG-->

<!--Banner-->
<div class="jumbotron jumbotron-fluid fundoJumbo">
  <div class="container">
    <div class="row d-flex justify-content-end">
      <div class="col-lg-6 col-md-6 col-sm-6 branco"></div>
      <div class="half col-lg-6 col-md-6 col-sm-6 branco">
        <h2 class="display-4 titulo-responsivo ">Um gole de inspiração</h2>
        <p class="lead branco texto-responsivo ">As grandes ideias sempre surgem com uma caneca na mão</p>
      </div>
    </div>
  </div>
</div>
<!--/Banner-->

<div class="container-fluid">

  <div class="row">

    <!--Barras de pesquisa-->
    <div class="container">
      <nav class="d-flex justify-content-center mt-2">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active text-secondary font-weight-bold" id="nav-home-tab" data-toggle="tab"
            href="#Canecas" role="tab" aria-controls="nav-home" aria-selected="true"
            (click)="ativaProduto()">Canecas</a>
          <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-profile-tab" data-toggle="tab"
            href="#Categorias" role="tab" aria-controls="nav-profile" aria-selected="false" (click)="ativaCategoria()">
            Categorias </a>
        </div>
      </nav>
      <div class="tab-content " id="nav-tabContent">

        <div class="tab-pane fade show active" id="Canecas" role="tabpanel" aria-labelledby="nav-postagens-tab">
          <div class="row mt-3 ml-0 mr-0">
            <div class=" col-12 col-md-10 p-0 m-0">
              <input class="form-control w-100" type="search" placeholder="Pesquisar caneca" aria-label="Pesquisar"
                [(ngModel)]="nomeProduto">
            </div>
            <div class=" col-12 col-md-2 p-0 m-0">
              <button class="btn btn-outline-primary w-100 ml-3" type="button"
                (click)="findByNomeProduto()">Pesquisar</button>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="Categorias" role="tabpanel" aria-labelledby="nav-presenca-tab">
          <div class="row mt-3 mb-2  ml-0  mr-0">
            <div class="col-md-10 p-0 m-0">
              <input class="form-control w-100" type="search" placeholder="Pesquisar Categoria" aria-label="Pesquisar"
                [(ngModel)]="nomeCategoria">
            </div>
            <div class="col-md-2 p-0 m-0">
              <button class="btn btn-outline-primary w-100" type="button"
                (click)="findByNomeCategoria()">Pesquisar</button>
            </div>
          </div>
        </div>
      </div>
      <!--/Barras de pesquisa-->
    </div>

  </div>

  <div class="row" *ngIf='!!pesquisa'>
    <div class="mt-3 col-lg-3 col-md-6 col-sm-12  d-flex justify-content-center"
      *ngFor="let item of listaProdutos | orderBy : key reverse">
      <div class="card mr-4 ml-4 p-2" style="width: 16rem;">
        <img class="card-img-top cursor" src="{{item.imagem}}" alt="Imagem de capa do card">
        <div class="card-body">
          <h4 class="card-title">{{item.nome}}</h4>

          <div class="buy d-flex justify-content-between align-items-center">
            <div class="price text-success">
              <h5 class="mt-4">R${{item.preco}}</h5>
            </div>
            <button type="button" class="btn btn-danger " [routerLink]='["/demo-produto", item.id]'>Comprar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf='!pesquisa'>
    <div *ngFor="let item of listaCategorias; index as i">
      <h1 class="text-center m-5 txt_cinza"> {{item.nome}} </h1>
        <div class="mt-3 col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center">
          <div *ngFor='let x of item.produto'>
            <div class="card mr-4 ml-4 p-2" style="width: 16rem;">
              <img class="card-img-top cursor" src="{{x.imagem}}" alt="">
              <div class="card-body">
                <h4 class="card-title">{{x.nome}}</h4>
                <div class="buy d-flex justify-content-between align-items-center">
                  <div class="price text-success">
                    <h5 class="mt-4">R${{x.preco}}</h5>
                  </div>
                  <button type="button" class="btn btn-danger " [routerLink]='["/demo-produto", x.id]'>Comprar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      <hr class="mt-5" *ngIf="!(i===( listaCategorias.length - 1)) ">
    </div>
  </div>

</div>


<hr class="hr3">

<!-- Copyright -->
<div class="footer-copyright corcopy text-center py-3 cor">
  <span class="text-dark"> Copyright © GetSet 2020.Todos direitos reservados </span>
  <a class="text-dark"></a>
</div>
<!-- Copyright -->