<div class="container ">
    
 <!--POG-->
 <div class="row mt-4 mb-4"></div>
 <!--/POG-->

</div>

<!--Imagem de fundo(Homenagem a um dos primeiros integrantes dos teletubes-->
<video  class="mateus" autoplay="autoplay" loop>
    <source src="../../assets/vídeos/GetSet.mp4" type="video/mp4"> <object data="" > <embed
             src="../../assets/vídeos/GetSet.mp4"> </object>
</video>
<!--/Imagem de fundo-->

<!--Jumbotron-->
<div class="jumbotron jumbotron-fluid corjumbo">
    <div class="container">
        <h1 class="display-4">Apoie nossa causa!!!</h1>
        <p class="lead">A getset foi criada a partir de um dos objetivos sustentáveis da Onu, visando ajudar na educação
            de qualidade, através da tecnologia.</p>
    </div>
</div>
<!--/Junbomtron-->

<!--Cards-->

<div class="container">

    <div class="row">
        <div class="col-md-4 mb-5 mt-5 d-flex justify-content-center">
            <div class="card mb-5 mr-4 ml-4 p-2" style="width: 18rem;">
                <img class="card-img-top"
                    src="https://www.casasbahia-imagens.com.br/TelefoneseCelulares/Smartphones/Android/1500966412/1194935281/celular-motorola-moto-g8-plus-azul-safira-64gb-camera-tripla-48mp-5mp-16mp-1500966412.jpg"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>

                    <a href="#" class="btn btn">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5 mt-5 d-flex justify-content-center">
            <div class="card mb-5 mr-4 ml-4 p-2" style="width: 18rem;">
                <img class="card-img-top"
                    src="https://www.casasbahia-imagens.com.br/TelefoneseCelulares/Smartphones/Android/1500966412/1194935281/celular-motorola-moto-g8-plus-azul-safira-64gb-camera-tripla-48mp-5mp-16mp-1500966412.jpg"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>

                    <a href="#" class="btn btn">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5 mt-5 d-flex justify-content-center">
            <div class="card mb-5 mr-4 ml-4 p-2" style="width: 18rem;">
                <img class="card-img-top"
                    src="https://www.casasbahia-imagens.com.br/TelefoneseCelulares/Smartphones/Android/1500966412/1194935281/celular-motorola-moto-g8-plus-azul-safira-64gb-camera-tripla-48mp-5mp-16mp-1500966412.jpg"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>

                    <a href="#" class="btn btn">Comprar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid corjumbo">
        <div class="container">
            <h1 class="display-4">Eae Lucas, blz?</h1>
            <p class="lead">Cyberpunk chegou!!</p>
        </div>
    </div>
    <!--/Cards-->