<!--Importando a fonte-->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Quicksand:wght@300&display=swap"
    rel="stylesheet">
<!--/Importando a fonte-->

<!--Imagem de fundo(Homenagem a um dos primeiros integrantes dos teletubes-->
<video class="mateus" autoplay="autoplay" loop>
    <source src="../../assets/vídeos/GetSet.mp4" type="video/mp4"> <object data=""> <embed
            src="../../assets/vídeos/GetSet.mp4"> </object>
</video>
<!--/Imagem de fundo-->

<!--Cards-->


<div class="container">
    <div class="row mb-5">
        <div class="col-md-4 mt-5 d-flex justify-content-center">
            <div class="card mr-4 ml-4 p-2" style="width: 18rem;">
                <img class="card-img-top cursor"
                src="https://www.casasbahia-imagens.com.br/TelefoneseCelulares/Smartphones/Android/1500966412/1194935281/celular-motorola-moto-g8-plus-azul-safira-64gb-camera-tripla-48mp-5mp-16mp-1500966412.jpg"
                alt="Imagem de capa do card">
                <div class="card-body">
                    <h4 class="card-title">Nome do Produto</h4>
                    <hr>
                    <h6 class="card-subtitle mb-2 text-muted">Style: VA33TXRJ5</h6>
                    <p class="card-text">
                        The Vans All-Weather MTE Collection features footwear and apparel designed to withstand the
                        elements whilst still looking cool.</p>
                        <hr>

                    <div class="buy d-flex justify-content-between align-items-center">
                        <div class="price text-success">
                            <h5 class="mt-4">$125</h5>
                        </div>
                        <button type="button" class="btn btn-danger">Danger</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-5 d-flex justify-content-center">
            <div class="card mr-4 ml-4 p-2" style="width: 18rem;">
                <img class="card-img-top cursor"
                    src="https://www.casasbahia-imagens.com.br/TelefoneseCelulares/Smartphones/Android/1500966412/1194935281/celular-motorola-moto-g8-plus-azul-safira-64gb-camera-tripla-48mp-5mp-16mp-1500966412.jpg"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h4 class="card-title">Nome do Produto</h4>
                    <hr>
                    <h6 class="card-subtitle mb-2 text-muted">Style: VA33TXRJ5</h6>
                    <p class="card-text">
                        The Vans All-Weather MTE Collection features footwear and apparel designed to withstand the
                        elements whilst still looking cool.</p>
                        <hr>

                    <div class="buy d-flex justify-content-between align-items-center">
                        <div class="price text-success">
                            <h5 class="mt-4">$125</h5>
                        </div>
                        <button type="button" class="btn btn-danger">Danger</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-5 d-flex justify-content-center">
            <div class="card mr-4 ml-4 p-2" style="width: 18rem;">
                <img class="card-img-top cursor"
                    src="https://www.casasbahia-imagens.com.br/TelefoneseCelulares/Smartphones/Android/1500966412/1194935281/celular-motorola-moto-g8-plus-azul-safira-64gb-camera-tripla-48mp-5mp-16mp-1500966412.jpg"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h4 class="card-title">Nome do Produto</h4>
                    <hr>
                    <h6 class="card-subtitle mb-2 text-muted">Style: VA33TXRJ5</h6>
                    <p class="card-text">
                        The Vans All-Weather MTE Collection features footwear and apparel designed to withstand the
                        elements whilst still looking cool.</p>
                        <hr>

                    <div class="buy d-flex justify-content-between align-items-center">
                        <div class="price text-success">
                            <h5 class="mt-4">$125</h5>
                        </div>
                        <button type="button" class="btn btn-danger">Danger</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/Cards-->

    <!--Jumbotron-->
<div class="jumbotron jumbotron-fluid corjumbo">
    <div class="container">
        <h1 class="display-4">Apoie nossa causa!!!</h1>
        <p class="lead">A getset foi criada a partir de um dos objetivos sustentáveis da Onu, visando ajudar na
            educação
            de qualidade, através da tecnologia.</p>
    </div>
</div>
<!--/Junbomtron-->