<div class="container ">
    <!--POG-->
    <div class="row mt-5 mb-5"></div>
    <!--/POG-->

    <!--Título-->
    <div class="row w-100 mt-5">

        <div class="col-md-12 d-flex justify-content-center">
            <h1 class="text-monospace text-center">
                Get for you, set for all!
            </h1>
        </div>
    </div>
    <!--/Título-->

    <!--Texto qualquer-->
    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12 d-flex justify-content-center">
            <p>Em construção.......</p>
        </div>
    </div>
    <!--/Texto qualquer-->

</div>

<!--Imagem de fundo(Homenagem a um dos primeiros integrantes dos teletubes-->
<div class="mateus mb-4"></div>
<!--/Imagem de fundo-->

<!--Jumbotron-->
<div class="jumbotron jumbotron-fluid corjumbo">
    <div class="container">
        <h1 class="display-4">Apoie nossa causa!!!</h1>
        <p class="lead">A getset foi criada a partir de um dos objetivos sustentáveis da Onu, visando ajudar na educação
            de qualidade, através da tecnologia.</p>
    </div>
</div>
<!--/Junbomtron-->

<!--Cards-->

<div class="container">

    <div class="row">
        <div class="col-md-4 mb-5 mt-5 d-flex justify-content-center">
            <div class="card mb-5 mr-4 ml-4 p-2" style="width: 18rem;">
                <img class="card-img-top"
                    src="https://www.casasbahia-imagens.com.br/TelefoneseCelulares/Smartphones/Android/1500966412/1194935281/celular-motorola-moto-g8-plus-azul-safira-64gb-camera-tripla-48mp-5mp-16mp-1500966412.jpg"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>

                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5 mt-5 d-flex justify-content-center">
            <div class="card mb-5 mr-4 ml-4 p-2" style="width: 18rem;">
                <img class="card-img-top"
                    src="https://www.casasbahia-imagens.com.br/TelefoneseCelulares/Smartphones/Android/1500966412/1194935281/celular-motorola-moto-g8-plus-azul-safira-64gb-camera-tripla-48mp-5mp-16mp-1500966412.jpg"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>

                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5 mt-5 d-flex justify-content-center">
            <div class="card mb-5 mr-4 ml-4 p-2" style="width: 18rem;">
                <img class="card-img-top"
                    src="https://www.casasbahia-imagens.com.br/TelefoneseCelulares/Smartphones/Android/1500966412/1194935281/celular-motorola-moto-g8-plus-azul-safira-64gb-camera-tripla-48mp-5mp-16mp-1500966412.jpg"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>

                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid corjumbo">
        <div class="container">
          <h1 class="display-4">Eae Lucas, blz?</h1>
          <p class="lead">Cyberpunk ta logo aí hahahahaha!</p>
        </div>
      </div>
<!--/Cards-->