<!--POG-->
<div class="row mt-5 mb-5"></div>
<!--/POG-->

<div class="container  w-100 d-flex justify-content-center">
  <div class="card bg-light col-md-12 col-lg-11 col-sm-12 w-100 d-flex justify-content-center">
    <div class="row">
      <div class="col-md-5 col-lg-4 col-sm-12 d-flex justify-content-center imagem-fundo">

      </div>
      <div class="col-md-7 col-lg-8 col-sm-12 d-flex justify-content-center">
        <article class="card-body" style="max-width: 600px;">
          <h2 class="card-title mt-1 text-center gradiente-texto">Cadastrar</h2>
          <p class="text-center">Crie uma conta gratuita</p>
          <p class="divider-text">
            <span class="bg-light">Insira</span>
          </p>
          <form>
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
              </div>
              <input type="text" class="form-control" id="nome" placeholder="Digite o seu nome aqui"
                [(ngModel)]='usuario.nome' name="first">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
              </div>
              <input type="email" class="form-control" id="email" placeholder="exemplo@email.com"
                [(ngModel)]='usuario.email' name="first">
            </div> <!-- form-group// -->
            <!-- form-group// -->

            <!-- form-group end.// -->
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
              </div>
              <input type="password" class="form-control" id="senha" placeholder="Digite sua senha"
                (input)='conferirSenha($event)' value="{{senha}}" name="first">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
              </div>
              <input type="password" class="form-control" id="senhaConf" placeholder="Digite a confirmação de senha"
                [(ngModel)]='usuario.senha' name="first">
            </div> <!-- form-group// -->
            <div class="form-group d-flex justify-content-center">
              <button type="submit" class="btn btn-outline-dark w-27 gradiente-botao" (click)='cadastrar()'>Cadastrar</button>
            </div> <!-- form-group// -->
            <p class="text-center">Já tem cadastro? <a routerLink='/login' class="gradiente-botao">Login</a> </p>
          </form>
        </article>
      </div>
    </div>
  </div> <!-- card.// -->

</div>
<!--container end.//-->

<!--POG-->
<div class="row mt-5 mb-5"></div>
<!--/POG-->

<hr>

<!-- Copyright -->
<div class="footer-copyright corcopy text-center py-3 cor">
  <span class="text-dark"> Copyright © GetSet 2020.Todos direitos reservados </span>
  <a class="text-dark"></a>
</div>
<!-- Copyright -->